name: Check

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  # https://github.com/Mozilla-Actions/sccache-action#rust-code
  RUSTC_WRAPPER: "sccache"
  SCCACHE_GHA_ENABLED: "true"

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    if: "!startsWith(github.ref, 'refs/tags')"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - uses: rui314/setup-mold@v1
      - uses: taiki-e/install-action@just
      - uses: mozilla-actions/sccache-action@v0.0.3
      - run: just fmt --check
      - run: just check
      - run: just lint
      - run: just test
